.footer {
  margin-top: 5em;
  position: absolute;
  inset: auto 0 0;

  &_grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    padding: 4em 6em;
    background-color: var(--clr-grey-800);
    color: var(--clr-grey-100);
  
    h3 {
      padding-bottom: 0.8em;
      padding-top: 0.5em;
    }
  
    p {
      padding-bottom: 0.6em;
    }
  
    &_right {
      text-align: right;
    }

    a {
      transition: color 100ms ease;

      &:hover {
        color: var(--clr-blue-400);
      }
    }
  }
}