.nav {
  width: 100%;
  background-color: var(--clr-grey-800);
  color: var(--clr-grey-100);
  font-size: var(--fs-fixed-600);

  &_container {
    margin: 0 auto;
    max-width: 75em;
    display: grid;
    grid-template-columns: 250px 1fr 250px;

    a:not(.nav_container_logo_link) {
      color: inherit;
      padding: 1em 0.5em;
      margin: 0 0.5em;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0.6em;
        left: 0;
        width: 100%;
        height: 0.25em;
        border-radius: 1em;
        background-color: var(--clr-grey-100-15);
        transform: scaleX(0);
        transition: transform 150ms ease;
      }

      &:hover,
      &:focus {
        &::after {
          transform: scaleX(1);
        }
      }

      &.active::after {
        background-color: var(--clr-accent-400);
        transform: scaleX(1);
      }
    }

    &_main {
      display: flex;
      justify-content: center;
    }

    &_other {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
      text-align: center;

      svg {
        fill: currentColor;
        padding-top: 0.2em;
      }
    }

    &_logo {
      width: 100%;
      height: auto;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 0 0.5em 0.3em;

      img {
        max-width: 10em;
      }
    }
  }
}
