.run {
  div {
    background-color: red;
  }

  ul {
    list-style-type: none;
  }

  &_summary {
    ul {
      display: flex;
    }

    li {
      display: block;
      width: max-content;
    }
  }
}