:root {
  --clr-accent: hsl(37, 98%, 53%);

  --clr-grey-100: hsl(0, 0%, 7%);
  --clr-grey-200: hsl(0, 0%, 20%);
  --clr-grey-300: hsl(0, 0%, 41%);
  --clr-grey-400: hsl(0, 0%, 87%);
  --clr-grey-500: hsl(0, 0%, 93%);
}
