/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../public/fonts/inter-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/inter-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../public/fonts/inter-v11-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/inter-v11-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/atkinson-hyperlegible-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/atkinson-hyperlegible-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
  --clr-accent-400: hsl(37, 98%, 53%);
  --clr-accent-500: hsl(32, 98%, 53%);

  --clr-grey-900: hsl(0, 0%, 7%);
  --clr-grey-800: hsl(0, 0%, 20%);
  --clr-grey-700: hsl(0, 0%, 41%);
  --clr-grey-200: hsl(0, 0%, 87%);
  --clr-grey-100: hsl(0, 0%, 93%);

  --clr-grey-800-60: hsla(0, 0%, 20%, 60%);
  --clr-grey-100-60: hsla(0, 0%, 93%, 60%);
  --clr-grey-100-15: hsla(0, 0%, 93%, 15%);

  --clr-blue-500: hsl(230, 100%, 65%);
  --clr-blue-400: hsl(230, 100%, 75%);

  --clr-first: var(--clr-accent-400);
  --clr-second: var(--clr-grey-700);
  --clr-third: hsl(27, 100%, 35%);

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

body {
  --fs-variable-500: clamp(0.9rem, 1.2vw, 1.2rem);
  --fs-variable-600: clamp(1.2rem, 1.8vw, 1.6rem);
  --fs-fixed-700: 2rem;
  --fs-fixed-600: 1.4rem;
  --fs-fixed-500: 1.1rem;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: var(--fs-variable-500);
  line-height: 1.4;

  position: relative;
  color: var(--clr-grey-100);
  background-color: var(--clr-grey-700);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-variable-600);
}

a {
  text-decoration: none;
  color: var(--clr-blue-500);
  font-weight: var(--fw-bold);
}

p {
  font-family: 'Atkinson Hyperlegible', 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}